body {
    background-color: black;
    font-family: arial;
    color: white;
    }
h1{
    color: grey; 
    font-family: verdana;
    }
footer{
    text-align: left;
    }
td{
padding:5px;
}
.maindiv{
    background-color: white; 
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
    }
.childdiv{
width: 70%;
margin: 0 auto;
}
.highlight {
    background-color : yellow;
    }